body{
margin:0;
font-family:Arial;

background: url("https://images.unsplash.com/photo-1501004318641-b39e6451bec6") no-repeat center 40% fixed;

background-size: cover;
}

/* cards ko glass look */
.container, .home-card{
background: rgba(255,255,255,0.15);
backdrop-filter: blur(12px);
border-radius: 12px;
box-shadow: 0 8px 25px rgba(0,0,0,0.2);
color: rgb(30, 30, 37);
}
.home-card{
backdrop-filter: blur(12px);
max-width:400px;
margin:120px auto;
padding:30px;
border-radius:10px;
box-shadow:0 5px 20px rgba(0,0,0,0.1);
text-align:center;

}

.container{

max-width:500px;
margin:auto;
padding:20px;

}

h1,h2{

text-align:center;

}

.btn,.back{

width:100%;
padding:12px;
margin:10px 0;
background:#4CAF50;
color:white;
border:none;
border-radius:6px;
font-size:16px;
cursor:pointer;

}


.back{

margin-bottom:15px;
width: 110px;

}

input,select{

width:100%;
padding:10px;
margin:6px 0;
border:1px solid #3014d3;
border-radius:5px;

}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    border: 1px solid #bd1f1f;
    padding: 8px;
    text-align: center;
}

th {
    background: #2fd3ad;
    color: rgb(27, 9, 230);
}

.deleteBtn {
    background: red;
    color: white;
    border: none;
    padding: 5px 8px;
    border-radius: 5px;
    cursor: pointer;
}

.deleteBtn:hover {
    background: darkred;
}


.popup{

display:none;
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,0.5);

}

.popup-box{

background:white;
padding:20px;
max-width:300px;
margin:200px auto;
border-radius:8px;
text-align:center;

}
/* TOP BAR */

.topbar{

display:flex;
align-items:center;
gap:15px;
margin-bottom:15px;

}

.back-btn{

background:#333;
color:white;
border:none;
padding:8px 14px;
border-radius:6px;
cursor:pointer;

}

/* CUSTOMER DROPDOWN */

.customer-section{

margin-top:20px;

}

.customer-header{

background:#4CAF50;
color:white;
padding:12px;
border-radius:6px;
cursor:pointer;
font-weight:bold;

}

.customer-list{

display:none;
background:white;
border:1px solid #ddd;
border-radius:6px;
margin-top:5px;
padding:10px;

}

/* CUSTOMER CARD */

.card{

display:flex;
justify-content:space-between;
align-items:center;
background:#f9f9f9;
padding:10px;
border-radius:6px;
margin-bottom:8px;

}
.deleteBtn ,.red {
    background: linear-gradient(45deg, #ff4d4d, #ff1a1a);
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    color: white;
    border: none;
    padding: 8px 14px;
    margin-top: 8px;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
    transition: 0.3s;
}

.deleteBtn:hover,.red:hover {
    background-color: #cc0000;
    transform: scale(1.05);
}